input[type="text"], select {
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
}

select {
    min-width: 200px;
}

table, tr, td {
    border: 1px solid lightgray;
    padding: 5px 10px;
}

